<p style="color: green"><%= notice %></p>

<h1>Published works of <%= @author.name %></h2>

<div id="books" class="grid-container">
  <% @author.books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<div>
  <%= link_to "Back to authors", authors_path %>
</div>
