<h1>Editing payment account</h1>

<%= render "form", payment_account: @payment_account %>

<br>

<div>
  <%= link_to "Show this payment account", @payment_account %> |
  <%= link_to "Back to payment accounts", payment_accounts_path %>
</div>
